In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 100)

In [2]:
df = pd.read_csv('kc_house_data_train.csv', index_col=0)

In [3]:
column_names = df.columns
print(column_names)
df.dtypes

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [4]:
#df.drop(columns= 'Unnamed: 0', inplace=True)

In [5]:
df.bedrooms.sort_values(ascending = False).head()

8597     33
2356     11
11181    10
3680     10
17114    10
Name: bedrooms, dtype: int64

In [6]:
df['bedrooms'] = np.where(df.bedrooms <= 10, 10, df.bedrooms)

In [7]:
df['yr_renovated'].value_counts()

0       16564
2014       71
2007       32
2005       32
2000       31
        ...
1934        1
1959        1
1944        1
1951        1
1948        1
Name: yr_renovated, Length: 69, dtype: int64

In [8]:
df1= df[['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'waterfront', 'condition', 'zipcode', 'yr_built', 'yr_renovated', 'floors']]

In [9]:
#df1= df[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'waterfront', 'condition', 'zipcode', 'yr_built', 'yr_renovated', 'floors']]

In [10]:
df1['date'] = pd.DatetimeIndex(df1['date']).year

/Users/avidanberman/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
df1['year']= np.where(df1['yr_renovated']== 0, df1['yr_built'], df1['yr_renovated'])

/Users/avidanberman/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df1['yearsold']= 2016 - df1['year']

/Users/avidanberman/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df1

,date,price,bedrooms,bathrooms,sqft_living,waterfront,condition,zipcode,yr_built,yr_renovated,floors,year,yearsold
0,2014,365000.0,10,2.25,2070,0,4,98058,1986,0,2.0,1986,30
1,2014,865000.0,10,3.00,2900,0,5,98115,1977,0,1.0,1977,39
2,2014,1038000.0,10,2.50,3770,0,3,98006,1997,0,2.0,1997,19
3,2015,1490000.0,10,3.50,4560,0,3,98034,1990,0,2.0,1990,26
4,2014,711000.0,10,2.50,2550,0,3,98052,2004,0,2.0,2004,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,2015,750000.0,10,2.50,3240,0,3,98008,1958,0,1.0,1958,58
17286,2014,440000.0,10,1.75,1300,0,3,98105,1948,0,2.0,1948,68
17287,2014,310000.0,10,1.00,1050,0,3,98028,1953,0,1.0,1953,63
17288,2014,427500.0,10,1.50,1900,0,4,98038,1971,0,1.5,1971,45
17289,2015,348000.0,10,1.50,1330,0,4,98155,1952,0,1.0,1952,64

In [14]:
df1 = pd.concat([df1, pd.get_dummies(df1['zipcode'])], 1)

In [15]:
df1.drop(columns= ['yr_built','yr_renovated'], inplace= True)

In [16]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler

In [18]:
target = df1['price']
df_features= df1.drop(columns= ['price'])

In [19]:
X_train, X_test, y_train, y_test = train_test_split(df_features, target, random_state=22,test_size=0.2)

In [21]:
scaler2 = StandardScaler()
# fit the scaler to the training data
scaler2.fit(X_train)
#transform the training data
X_train = pd.DataFrame(data=scaler2.transform(X_train), columns=df_features.columns)
#transform the testing dat
X_test = pd.DataFrame(data=scaler2.transform(X_test), columns=df_features.columns)

In [22]:
lm_2 = LinearRegression()
#fit the linear regression to the data
lm_2 = lm_2.fit(X_train, y_train)
y_train_pred = lm_2.predict(X_train)
train_rmse = np.sqrt(metrics.mean_squared_error(y_train, y_train_pred))
print('Training Root Mean Squared Error:' , train_rmse)

Training Root Mean Squared Error: 178918.92766203824

In [23]:
# use fitted model to predict on test data
y_pred = lm_2.predict(X_test)
test_rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print('Testing Root Mean Squared Error:' , test_rmse)
print('Training: ', int(train_rmse), "vs. Testing: ", int(test_rmse))

Testing Root Mean Squared Error: 180261.59918178656
Training:  178918 vs. Testing:  180261

In [26]:
test_rmse/y_train.std()

0.48084200975939445